/* global */

:root {
  font-size: 1.3rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e6fafc;
}
.container {
  width: 80%;
  padding-right: 10%;
  padding-left: 10%;
}
a {
  text-decoration: none;
  color: white;
}
.actual {
  color: #4da167;
  font-weight: bold;
}
button {
  border: none;
  height: 31px;
  color: white;
  background-color: #4da167;
}

/* header */
header {
  color: white;
  background-color: #515b3a;
  border-bottom: 3px solid #4da167;
  min-height: 66px;
}
.headlight {
  color: rgb(77, 161, 103);
}
ul {
  padding: 0;
  margin: 0;
}
li {
  display: inline;
  margin: 5px 10px;
}
header h2 {
  float: left;
  padding-top: 15px;
  margin-bottom: 0;
}
header nav {
  float: right;
  margin-top: 25px;
  padding-bottom: 10px;
}
a:hover {
  font-weight: bold;
}
/* mainhome */
.mainhome {
  min-height: 400px;
  background-image: linear-gradient(
      rgba(77, 161, 103, 0.6),
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8),
      rgba(77, 161, 103, 0.6)
    ),
    url("../img/background.jpg");
  color: #353d2f;
  text-align: center;
  display: inline-block;
}
.mainhome h1 {
  margin-top: 10%;
}
.newsletter {
  color: white;
  background-color: #515b3a;
  min-height: 70px;
}
.newsletter h3 {
  padding-top: 15px;
  float: left;
}
.newsletter form {
  margin-top: 15px;
  float: right;
}

.newsletter input {
  height: 25px;
}
.boxes {
  margin-top: 30px;
}
.box1 {
  width: 30%;
  display: inline-block;
  margin-right: 15px;
  margin-left: 15px;
  text-align: center;
}
footer {
  background-color: #4da167;
  text-align: center;
  padding-top: 15px;
  min-height: 35px;
}

.mainabout h4 {
  margin-top: 20px;
}
.dark {
  color: white;
  background-color: #515b3a;
  padding: 15px;
}
.mainabout article,
.services {
  width: 65%;
  display: inline-block;
}
.mainabout aside,
.mainservices aside {
  width: 30%;

  float: right;
  margin-top: 20px;
  box-sizing: border-box;
}
.mainservices {
  margin-top: 20px;
}
.mainservices aside p {
  margin: 0;
}
.blockservices {
  background-color: #515b3a;
  margin-top: 5px;
  color: #e6fafc;
  padding: 5px 15px;
}
#message {
  padding-bottom: 15px;
}
.mainservices aside input {
  width: 100%;
}
@media screen and (max-width: 768px) {
  header h2,
  header nav,
  .newsletter h3,
  .newsletter form,
  .box1,
  .mainservices section,
  .mainservices aside,
  .mainabout article,
  .mainabout aside {
    text-align: center;
    float: none;
    width: 100%;
  }
  button,
  input {
    width: 100%;
    border: none;
    margin-bottom: 10px;
  }
}
